<nav >
    <span class="title" [routerLink]="['/home']" >SusaMauro</span>
    <ul class="menu">
        <li class="item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</li>
        <li class="item" [routerLink]="['/users']" routerLinkActive="router-link-active">Usuarios</li>
        <li class="item" [routerLink]="['/products']" routerLinkActive="router-link-active">Productos</li>
    </ul>
</nav>
<main class="container-fluid">
    <form class="container-form" (ngSubmit)="onSave()"[formGroup]="formUpdate" >
        <div class="container-form-inputs">
             <div class="input-container" >
                <label class="label-input" for="name">Nombre Producto</label>
                <input class="input-form form-control  shadow-none" type="text" id="name" formControlName="nombre">
             </div>
             <div  class="input-container" >
                <label class="label-input" for="price">Valor</label>
                <input class="input-form form-control shadow-none" type="number" id="price" formControlName="precio">
             </div>
             <div class="input-container">
                <label class="label-input" for="feature">Categoria</label>
                <input class="input-form form-control shadow-none" type="text" id="feature" formControlName="categoria">
            </div>
            <div class="input-container">
                <label for="image" class="label-input">Imagen</label>
                <input class="form-control  shadow-none image d-none"  type="file" (change)="photoSelected($event)" #formFile  >
                <img [src]="photoBack || '../../assets/images/no-image.png' " style="height: 100px;" alt="no image">
                <br>
                <label for="image" class="label-input"> Nueva Imagen</label>
                <img [src]="uploadedFiles || '../../assets/images/no-image.png' " style="height: 100px;" alt="no image"  (click)="formFile.click()">
            </div>
             <div class="input-container">
                <label class="label-input" for="description">Descripción</label>
                <textarea class="text-area form-control shadow-none" type="text" id="description" formControlName="descripcion"></textarea>
             </div>
         </div>
         <button class="btn btn-primary">Actualizar datos</button>
    </form>
</main>



 <form class="form-container">
    
   
    
    
    
</form>