<nav >
    <span class="title" [routerLink]="['/home']" >SusaMauro</span>
    <ul class="menu">
        <li class="item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</li>
        <li class="item" [routerLink]="['/users']" routerLinkActive="router-link-active">Usuarios</li>
        <li class="item" [routerLink]="['/products']" routerLinkActive="router-link-active">Productos</li>
    </ul>
</nav>
<main >
  <section *ngIf="permisos?.add === true " class="container-add-product">
    <button  class="btn btn-warning button_agregar" [routerLink]="['/products/add']" routerLinkActive="router-link-active">Agregar producto </button>
  </section>
  <!-- <section *ngIf="tipo === 'vendedor' " class="container-add-product">
    <button  class="btn btn-warning button_agregar" [routerLink]="['/products/add']" routerLinkActive="router-link-active">Agregar producto </button>
  </section> -->
  <section class="container-fluid">
    <div class="card" style="width: 18rem;" *ngFor="let item of products">
        <img [src]="APIURL+ item.imgUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.nombre}}</h5>
          <p class="card-text">{{item.descripcion}}</p>
          <p class="card-text">${{item.precio}}</p>
          <p class="card-text">Categoria:{{item.categoria}}</p>
          
          <button *ngIf="tipo === 'vendedor' || tipo === 'administrador' " (click)="goProduct(item._id)" class="btn btn-warning">Editar producto</button>
          <!-- <button *ngIf="tipo === 'administrador' " (click)="goProduct(item._id)" class="btn btn-warning">Ver producto</button> -->
          <button *ngIf="tipo === 'comprador'" (click)="goBuy(item._id)" class="btn btn-warning">Comprar</button>
        </div>
      </div>
  </section>
</main>