<nav >
    <span class="title" [routerLink]="['/home']" >SusaMauro</span>
    <ul class="menu">
        <li class="item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</li>
        <li class="item" [routerLink]="['/users']" routerLinkActive="router-link-active">Usuarios</li>
        <li class="item" [routerLink]="['/products']" routerLinkActive="router-link-active">Productos</li>
    </ul>
</nav>

<main class="container-fluid">

    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Tipo de usuario</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of users">
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.email}}</td>
            <td>{{item.tipo}}</td>
            <td><button class=" btn btn-primary btn-sm" (click)="edit(item)">Editar</button></td>
          </tr>
        </tbody>
      </table>

      <section>
          <h2 class="form-title">Datos del usuario</h2>
          <form class="form-content" (ngSubmit)="onSave()"[formGroup]="formUpdate" >
              <input class ="input-form"type="text" formControlName="nombre" placeholder="Nombre">
              <input class ="input-form"type="text" formControlName="apellido"placeholder="Apellido">
              <input class ="input-form"type="email"  formControlName="email" placeholder="Correo">
              <input class ="input-form"type="text"  formControlName="direccion" placeholder="Direccion">
              <select class ="input-form" name="miselect" formControlName="tipo">
                <option value="comprador">Comprador</option>
                <option value="vendedor">Vendedor</option>
              </select>
              <button class="button-form btn btn-primary" type="submit">Actualizar</button>
          </form>
      </section>
</main>