<nav >
    <span class="title" [routerLink]="['/home']" >SusaMauro</span>
    <ul class="menu">
        <li class="item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</li>
        <li class="item" [routerLink]="['/users']" routerLinkActive="router-link-active">Usuarios</li>
        <li class="item" [routerLink]="['/products']" routerLinkActive="router-link-active">Productos</li>
    </ul>
    <button class="btn btn-danger" (click)="logOut()">Salir</button>
</nav>
<div class="container-fluid">
    <div class="container-content">
        <h1 class="container-title">BIENVENIDO A TU TIENDA VIRTUAL SUSAMAURO</h1>
        <span class="container-text">Bienvenido a el administrador web de tu tienda virtual SUSAMAURO <br>
             Es un placer tenerte con nosotros</span>
    </div>
</div>
